/*-- General Styles --*/

body{
    font:16px "Yantramanav", sans-serif;
    color:$mine-shaft;
    line-height:24px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

a{
    text-decoration:underline;
    color:$mine-shaft;
    @include transition($transition);
    
    &:hover{
        color:$de-york;
    }
}


/*-- Nav --*/
nav{
    position:relative;
    width:100%;
    height:110px;
    top:0;
    right:0;

    #logo{
        width:110px;
        margin:20px 30px;
        position:fixed;
        z-index:99;
        
        @media(max-width:767px){
            position:absolute!important;
        }

        img{
            width:110px;
            margin:0;
            position:fixed;

            @media(max-width:767px){
                position:absolute!important;
                margin:0;
            }

            @media(max-width:414px){
                width:80px;
            }
        }
    }

    .links{
        position:absolute;
        margin:65px 30px;
        right:0;

        a{
            color:$mine-shaft;
            text-decoration:none;
            margin-right:80px;
            font-size:1.05em;

            &:last-child{
                margin-right:30px;
            }

            &:hover{
                color:$de-york;
            }

            @media(max-width:600px) {
                display:none;
            }
        }
    }
    
    .hamburger{
        display:none;
        z-index:99999!important;
        color:#fff;
        font-size:1.8em;

        @media(max-width:600px){
            position:fixed;
            display:block!important;
            right:40px;
            top:50px;
        }

        svg{
            @media(max-width:600px){
                width:20px;
            }
        }
    }

    .sidebar {
        display:flex;
        background:$mine-shaft;
        width:100%;
        height:100vh;
        transition:transform 0.5s;
        position:fixed;
        text-align:center;
        z-index:9999!important;
        flex-flow:column;
        justify-content:center;
        align-items:center;
        
        a{
            color:#fff;
            text-decoration:none;
            font-size:3em;
            line-height:2em;  

            &:hover{
                color:$de-york;
            }
        }
      
        &__trigger {
          display: none!important;
          &:checked {
            & + label > .sidebar__button-open {
              display: none!important;
            }
          }
          &:not(:checked) {
            & + label > .sidebar__button-close {
              display: none!important;
            }
      
            & ~ .sidebar {
              transform: translateX(-100%);
            }
          }
        }
    }  
    
}

  