/*-- General Styles --*/

body{
    font:16px "Yantramanav", sans-serif;
    color:$mine-shaft;
    line-height:24px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

a{
    text-decoration:underline;
    color:$mine-shaft;
    @include transition($transition);
    
    &:hover{
        color:$de-york;
    }
}

/*-- Nav --*/
nav{
    position:relative;
    width:100%;
    height:110px;
    top:0;
    right:0;

    #logo img{
        width:110px;
        margin:20px 30px;
        position:fixed;
    }

    .links{
        position:absolute;
        margin:65px 30px;
        right:0;

        a{
            text-decoration:none;
            margin-right:80px;
            font-size:1.05em;

            &:last-child{
                margin-right:30px;
            }

            &:hover{
                color:$de-york;
            }
        }
    }

}

.loader{
    position:absolute;
    top:50%;
    left:50%;
    width:250px;
    height:250px;
    margin-top:-145px;
    margin-left:-125px;
    z-index:1001;

    p{
        color:$de-york;
        margin:0 auto;
        font-size:1.2em;
        text-align:center;
        text-transform:uppercase;
        letter-spacing:0.15em;
    }

    .loading:after {
        content:'.';
        animation:dots 1s steps(5, end) infinite;}
      
        @keyframes dots {
            0%, 20% {
                color: rgba(0,0,0,0);
                text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);
            }
            40% {
                color: $de-york;
                text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);
            }
            60% {
                text-shadow:
                .25em 0 0 $de-york,
                .5em 0 0 rgba(0,0,0,0);
            }
            80%, 100% {
                text-shadow:
                .25em 0 0 $de-york,
                .5em 0 0 $de-york;
            }
        }
}

#loader-wrapper {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;

    .loader-section {
        position:fixed;
        top:0;
        width:51%;
        height:100%;
        background:$mine-shaft;
        z-index:1000;
    }

    .loader-section.section-left {
        left:0;
    }

    .loader-section.section-right {
        right:0;
    }
}

/* Loaded styles */
.loaded {
    #loader-wrapper {
        visibility:hidden;
        -webkit-transform:translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform:translateY(-100%);  /* IE 9 */
                transform:translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
        -webkit-transition:all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition:all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

        .loader-section.section-left {
            -webkit-transform:translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform:translateX(-100%);  /* IE 9 */
                    transform:translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
            -webkit-transition:all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition:all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
        }

        .loader-section.section-right {
            -webkit-transform:translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform:translateX(100%);  /* IE 9 */
                    transform:translateX(100%);  /* Firefox 16+, IE 10+, Opera */
            -webkit-transition:all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                    transition:all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
        }
    }

   .loader {
        opacity:0;
        -webkit-transition:all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition:all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }
}

.st0{
    fill:#333;
    stroke:$de-york;
    stroke-dasharray:200;
    animation: dash 5s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset:600;
    }
  }