/*-- General Styles --*/

@keyframes slide-down {
    from{
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
      visibility:visible;
    }
}

@-webkit-keyframes slide-in {
    from{
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
      visibility:visible;
    }
}

body{
    font:16px "Yantramanav", sans-serif;
    color:$mine-shaft;
    line-height:24px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

a{
    text-decoration:underline;
    color:$mine-shaft;
    @include transition($transition);
    
    &:hover{
        color:$de-york;
    }
}

/*-- Nav --*/
nav{
    position:relative;
    width:100%;
    height:110px;
    top:0;
    right:0;

    #logo img{
        width:110px;
        margin:20px 30px;
        position:fixed;
        visibility:hidden;
        -webkit-animation:slide-down 0.75s 0.25s forwards cubic-bezier(0.075, 0.32, 0.565, 1);
        -moz-animation:slide-down 0.75s 0.25s forwards cubic-bezier(0.075, 0.32, 0.565, 1);
        -ms-animation:slide-down 0.76s 0.25s forwards cubic-bezier(0.075, 0.32, 0.565, 1);
        animation:slide-down 0.75s 0.25s forwards cubic-bezier(0.075, 0.32, 0.565, 1);
    }

    .links{
        position:absolute;
        margin:65px 30px;
        right:0;
        visibility:hidden;
        -webkit-animation:slide-down 0.75s 0.25s forwards cubic-bezier(0.075, 0.32, 0.565, 1);
        -moz-animation:slide-down 0.75s 0.25s forwards cubic-bezier(0.075, 0.32, 0.565, 1);
        -ms-animation:slide-down 0.76s 0.25s forwards cubic-bezier(0.075, 0.32, 0.565, 1);
        animation:slide-down 0.75s 0.25s forwards cubic-bezier(0.075, 0.32, 0.565, 1);

        a{
            text-decoration:none;
            margin-right:80px;
            font-size:1.05em;

            &:last-child{
                margin-right:30px;
            }

            &:hover{
                color:$de-york;
            }
        }
    }

}