@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,700&display=swap');

@font-face {
    font-family: "Ilisarniq";
    font-display: swap;
    unicode-range: U+000-5FF;
    src: url("/Ilisarniq/Ilisarniq-Bold.woff2") format("woff2"),
         url("/Ilisarniq/Ilisarniq-Bold.woff") format("woff");
}